ion-modal.blur-modal {
    --backdrop-opacity: 0.9;
}

ion-modal.blur-modal::part(backdrop) {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.5);
}